<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{{title}}</title>
    </head>
    <body>
        {{> header}}
        {{capitalize 'this is about pageeeeeeeeeee'}}
        {{> footer}}
    </body>
</html>